﻿@model PatientCard.Web.ViewModel.JournalViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<input id="myInput" type="text" placeholder="Search..">
<br><br>


<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Patient.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient.Iin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.Iin)
        </dd>

    </dl>
</div>

<table class="table" id="myTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Diagnosis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateVisit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doctor.DocName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doctor.Speciality)
        </th>
        <th></th>
    </tr>

    @foreach (var item in (IEnumerable<PatientCard.Model.Journal>)ViewBag.Journals)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnosis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateVisit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.DocName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.Speciality)
            </td>
            <td>
                <a href="@Url.Action("Edit","Journals", new { id = item.Id })">Edit</a>|
                <a href="@Url.Action("Delete","Journals", new { id = item.Id })">Delete</a>|
                <a href="@Url.Action("Details","Journals", new { id = item.Id })">Details</a>|
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Patient.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
