﻿@model IEnumerable<PatientCard.Model.Patient>

@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>

<input id="myInput" type="text" placeholder="Search..">
<br><br>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="myTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iin)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iin)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                @Html.ActionLink("Sign Up", "Signup", new { id = item.Id })
            </td>
        </tr>
    }

</table>


